body {
    color: rgb(255, 197, 250);
    background: rgb(197, 78, 191);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
  }
  
  header {
    border-bottom: solid 2px rgb(0, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(2, 0, 1);
  }
  
  section {
    background: rgb(0, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }
  
  .chamada-texto {
    margin-right: 10%;
  }
  
  h1 {
    font-size: 40px;
  }
  
  p {
    font-size: 25px;
  }